body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    background-color: palegreen;
}

#btn {
    width: 66px;
    height: 33px;
    margin-bottom: 16px;
    padding: 4px 8px;
    border-radius: 15%;
    border: 0px;
    background-color: darkgreen;
    color: azure;
}

#container {
    width: 800px;
    height: 800px;
    border: 0px solid black;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.Grid {
    border: 1px solid gray;
}